body {
  background-color: white;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: orange;
  margin: 0;
  padding: 0 30px;
    
}

 h1, h2, h3 {
    font-family: 'UnifrakturCook', cursive;
}
 
h4 {
    text-align:center;
    
}


#main-nav {
    letter-spacing: 30px;
    font-size: 40px;

}

#inspiration-body {
    background-color: white;
}

#container{
    
    width: 90%;
    margin: 0 auto;
    background-color: 0004ff;
        height: 900px;
}


nav{
    
    text-align: center;
    margin-top: 40px;
}


nav a {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
    margin: 20px;
    font-size: 18px;
    letter-spacing: 5px; 
}

header h1{
    text-align:center;
    font-size: 50px;
    margin: 50px 150px 50px 0px;
}

h1{
  font-family:'UnifrakturCook', cursive;
  font-weight: 700;
  
}

article aside{
    text-align: center;
    font-size: 30x;
    width: 70%;
    margin: 0 auto;
    
}

img.large {
    width: 500px;
    height: 650px;
}

img.medium {
    width: 300px;
    height: 450px;
}

img.small {
    width: 200px;
    height: 200px;
}



img.align-center {
    display: block;
    margin: 0px auto;
}

p.align-center {
    display: block;
    margin: 0px auto;
}

li {
    display: inline-block;
}

#inspiration-container{
    width: 900px;
    
}

hr {
    color: orange
}

section {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1, h2, h5 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

hr {
    margin:40px 0 40px 0;
}

p {
    padding: 30px;
    text-align: center;
}

#about-style {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}

img.align-center {
    text-align: center;
}


a {
    text-align: center;
}


.bottom-nav {
    margin:40px 40px 40px 40px;
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}


.navbar {
    overflow: hidden;
    
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: red;
    
}

.bottom-nav a:hover {
    background: red;
}

/* Main content */
.main {
    margin-top: 150px; /* Add a top margin to avoid content overlay */
}

#main-nav {
    letter-spacing: 30px;
    font-size: 40px;
    text-align: center
    
}


nav a {
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
    margin: 20px;
    font-size: 18px;
    letter-spacing: 5px; 
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}